@keyframes move-up{
    from{top:80%;opacity: 0;;}
    to{top:60%;opacity: 1;}
}
.product-page{
    padding: 100px 50px;
}
/* ToolOption */
.list-search .option{
    border:1px solid #A9A9A9;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}
.list-search .option label{
    display: block;
}
.list-search .select-price input{
    outline: none;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    border: 1px solid #A9A9A9;
} 
.list-search .option input{
    margin-right: 10px;
    
}
.list-search .option .title-option{
    font-weight: bolder;
    font-size: 20px;
}

/* item product */
.list-product{
    padding-left: 50px;
}
.item-product .img-product{
    overflow: hidden;
}
.item-product .infor-produce{
    margin-top: 15px;
}
.item-product .img-product img{
    width: 340px;
    height: 450px;
    transition: 0.3s;
    position: relative;
}
.item-product:hover img{
    transform: scale(1.2);
}
.item-product {
    font-size: 20px;
    margin-bottom: 40px;
}
.item-product .price-product{
    font-size: 16px;
    color: rgba(143,143,143,1);
}
.item-product .button-control-product{
    position: absolute;
    left:20%;
    display: none;
}
.item-product:hover .button-control-product{
    animation: move-up 0.7s;
    display: block;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}